$background: #191724;
$background-alt: #2a273f;
$overlay: #393552;
$foreground: #e0def4;
$foreground-Alt: #908caa;

$primary: #eb6f92;
$secondary: #9ccfd8;

$color_red: #eb6f92;
$color_yellow: #f6c177;
$color_blue: #31748f;
$color_green: #9ccfd8;
