$background: #1a1b26;
$background-alt: #24283b;
$overlay: #393552;
$foreground: #e0def4;
$foreground-Alt: #908caa;

$primary: #eb6f92;
$secondary: #9ccfd8;

$color_red: #f7768e; 
$color_yellow: #f6c177;
$color_blue: #7aa2f7;
$color_green: #9ece6a;   
