
.systemtray menu {
	border-radius: 0.45rem;   
  margin-top: 20rem;

	padding: 0.5rem 0.35rem;   
  font-size: 20px;
  font-weight: 600;

	background-color: $background; 

	>menuitem {
		padding: 0px 5px;

		&:disabled label {
			color: gray; 
		}

		&:hover {
			background-color: $background_alt; 
		}
	}

	separator {
		background-color: $foreground;
		padding-top: 1px;

		&:last-child {
			padding: unset;
		}
	}
}
